@font-face {
    font-family: 'Graphik-Medium';
    src: url('../fonts/GraphikLC-Medium-Web.woff2') format('opentype');
}

.h1,
.h2,
.h3,
.h4,
.h5,
body,
h1,
h2,
h3,
h4,
h5 {
    color: #494949;
    font-family: 'Graphik-Medium', 'Josefin Sans', Raleway, Arial;
}

.avatar img {
    border-radius: 100%;
    border: .5rem solid #f5cab9;
    width: 10rem;
}

.content figure {
  margin-left:0;
}
